
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #fdf6f9; 
  color: #333;
  text-align: center;
}  

header {
  background-color: #ffb6c1;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  color: #8b0000; 
}

p {
  font-size: 18px;
  line-height: 1.6;
}


img {
  margin-top: 20px;
  border: 5px solid #ff69b4; 
  border-radius: 12px;
  width: 400px;
}

/* Footer styling */
footer { 
  margin-top: 30px; font-size:
   14px; color: #555;
   }